.wrapper{
    background: #fff;
    border-radius: 10px;
    box-shadow: 6px 9px 15px -9px rgba(0, 0, 0, 0.75);
    margin: 10px 4px;
}

.container{
    padding: 10px;

    .information {

        &__title {
            display: flex;
            justify-content: space-between;

            h1 {
                text-transform: uppercase;
                font-size: 20px;
                color: #04286E;
            }

            p {
                display: flex;
                align-items: center;
                cursor: pointer;
                transition: .2s ease all;

               
             .on { 
                 transform: rotate(180deg);
                } 
                  
                &:hover {
                    opacity: 0.8;
                    transform: scale(1.1);
                }
            }
        }

        &__value {
            margin:8px 0;

            p {
                span {
                    font-weight: bold;
                    margin-right: 8px;
                }
            }
        }


    }

    .description {
        &_close {
            display: none;
        }

        h4 {
            margin: 2px 0;
            border-bottom: 1px solid black;
            padding: 4px 0;
        }

        p {
            margin: 10px 5px;
            font-size: 14px;
            max-width: 250px;

            @media (min-width: 500px) {
                max-width: 300px;
            }

            @media (min-width: 768px) {
                max-width: 100%;
            }
        }
    }
}